.keyboard {
  width: 70vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border: 1px solid #4a4a4a;
  border-radius: 10px;
  box-shadow: 0 0 5px #2e2e2e;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-nav {
  width: 60vw;
  height: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  background-color: #ffeda0;
  box-shadow: inset 0 0 3px #2e2e2e;
  padding: 1vw;
  margin-bottom: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.vol-btn, .wave-btn, .vis-btn, 
.demo-btn, .about-btn {
  border: 1px solid #2e2e2e;
  border-radius: 3px;
  background-color: #fae173; 
  width: 8vw;
  font-size: 1.2vw;
  text-align: center;
  vertical-align: middle;
  line-height: 3vw;
  position: relative;
}

.dropdown {
  background-color: #fae173; 
  border: 1px solid #2e2e2e;
  border-radius: 3px;
  position: absolute;
  bottom: 3vw;
  left: -1px;
  width: 8vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
}

.vol-btn:hover, .wave-btn:hover, .vis-btn:hover, 
.demo-btn:hover, .about-btn:hover {
  cursor: pointer;
  background-color: #ffeda0;
}

.vol-btn:hover .vol {
  display: block;
}

.wave-btn:hover .wave {
  display: block;
}

.vis-btn:hover .vis {
  display: block;
}

.about-btn:hover .about {
  display: block;
}

.about a {
  text-decoration: none;
  color: black;
}

.vol1:hover, .vol2:hover, .wave1:hover, .wave2:hover,
.wave3:hover, .wave4:hover, .vis1:hover, .vis2:hover, 
.vis3:hover, .about1:hover, .about2:hover {
  background-color: #ffeda0;
}





