.keyboard {
  width: 70vw;
  padding-top: 5vh;
  padding-bottom: 6vh;
  border: 1px solid #4a4a4a;
  border-radius: 10px;
  box-shadow: 0 0 5px #2e2e2e;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-nav {
  width: 60vw;
  height: 50px;
  display: block;
  border: 1px solid black;
  background-color: gray;
  padding: 1vw;
}